<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PalcoNet.Properties.PalcoNET" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PalcoNet.PalcoNET" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PalcoNet.PalcoNET.ConnectionString" connectionString="Server=localhost\SQLSERVER2012;Database=GD2C2018;User Id=gdEspectaculos2018;&#xA;Password=gdEspectaculos2018;" />
        <add name="PalcoNet.Properties.PalcoNET.ConnectionString" connectionString="Server=localhost\SQLSERVER2012;Database=GD2C2018;User Id=gdEspectaculos2018;&#xA;Password=gdEspectaculos2018;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <PalcoNet.Properties.PalcoNET>
            <setting name="MyDate" serializeAs="String">
                <value>2018-12-20</value>
            </setting>
        </PalcoNet.Properties.PalcoNET>
        <PalcoNet.PalcoNET>
            <setting name="MyDate" serializeAs="String">
                <value>2018-12-02</value>
            </setting>
        </PalcoNet.PalcoNET>
    </applicationSettings>
</configuration>